@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}


/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d4d4d8; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1aa; /* Darker color on hover */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f3f4f6; /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners for the track */
}

.custom-carousel .slick-dots li button {
  background-color: #a79b8d; /* Change this to your desired color */
  height: 5px;
}

/* Active dot color */
.custom-carousel .slick-dots li.slick-active button {
  background-color: #8b8174; /* Change this to your desired active color */
}

.custom-carousel .slick-prev,
.custom-carousel .slick-next,
.custom-carousel .slick-prev:hover,
.custom-carousel .slick-next:hover,
.custom-carousel .slick-prev:focus,
.custom-carousel .slick-next:focus {
  font-size: inherit;
  color: currentColor !important;
}

.custom-carousel .slick-prev::before {
  color: currentColor !important;
}

.slick-arrow.slick-prev {
  font-size: 20px !important;
}

.custom-carousel .slick-next::before {
  color: currentColor !important;
}

.slick-arrow.slick-next {
  font-size: 20px !important;
}